baseURL = "/"
languageCode = "en-us"
DefaultContentLanguage = "en"
title = "Cloudify Documentation Center"
theme = "docdock"
# themesdir = "../.."
pygmentsCodeFences = true
pygmentsStyle = "monokailight"

defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
enableMissingTranslationPlaceholders = false

canonifyURLs = true
relativeURLs = true

# [Languages]
# [Languages.en]
# title = "Documentation for Hugo docDock"
# weight = 1
# languageName = "English"
#
# [Languages.fr]
# title = "Documentation du thème docDock"
# weight = 2
# languageName = "Français"

[params]
isLatestVersion = true

editURL = "https://github.com/cloudify-cosmo/docs.getcloudify.org/edit/branch/content/"
showVisitedLinks = true # default is false
themeStyle = "flex" # "original" or "flex" # default "flex"
themeVariant = "" # choose theme variant "green", "gold" , "gray", "blue" (default)
ordersectionsby = "weight" # ordersectionsby = "title"
disableHomeIcon = false # default is false
disableSearch = false # default is false
disableNavChevron = false # set true to hide next/prev chevron, default is false
highlightClientSide = false # set true to use highlight.pack.js instead of the default hugo chroma highlighter
menushortcutsnewtab = false # set true to open shortcuts links to a new tab/window
enableGitInfo = true
googleAnalytics = "GTM-N2BRNJJ"

# Content variables
company_name = "Cloudify"
product_name = "Cloudify"
cfy_manager_name = "Cloudify Manager"
cfy_console_name = "Cloudify Management Console"
cfy_api_name = "Cloudify API"
cfy_agent_name = "Cloudify Agent"
cfy_spire_name = "Cloudify Spire"
cfy_composer_name = "Cloudify Composer"
cfy_composer_link = "/developer/composer/"
cfy_cli_name = "Cloudify CLI"
cfy_caas = "Cloudify as a Service"
cfy_caas_signup_link = "https://cloudify.co/download/"
cfy_premium_download_link = "https://cloudify.co/cloudify-premium-download/"
mgr_hosted_title = "Cloudify Hosted service trial account"
mgr_hosted_link = "/trial_getting_started/set_trial_manager/hosted_trial/"
mgr_premium_title = "Cloudify Premium Manager"
mgr_premium_link = "/trial_getting_started/set_trial_manager/trial_install/"
mgr_community_title = "Cloudify Community Manager"
mgr_community_link = "/trial_getting_started/set_trial_manager/download_community/"
plugins_link = "https://cloudify.co/plugins/"
wagon_link = "https://github.com/cloudify-cosmo/wagon"
basic_blueprint_zip = "https://github.com/cloudify-community/blueprint-examples/releases/download/latest/virtual-machine.zip"
basic_blueprint_master = "https://github.com/cloudify-community/blueprint-examples/blob/master/virtual-machine"
basic_blueprint_name = "virtual-machine"
first_service_blueprint_local_zip = "https://github.com/cloudify-community/blueprint-examples/releases/latest/download/simple-hello-world-example.zip"
first_service_blueprint_zip = "https://github.com/cloudify-community/blueprint-examples/releases/download/latest/hello-world-example.zip"
first_service_blueprint_local = "https://github.com/cloudify-community/blueprint-examples/blob/master/simple-hello-world-example"
first_service_blueprint_master = "https://github.com/cloudify-community/blueprint-examples/tree/master/hello-world-example"
first_service_blueprint_local_name = "simple-hello-world-example"
first_service_blueprint_name = "hello-world-example"
multicloud_blueprint_zip = "https://github.com/cloudify-community/blueprint-examples/releases/download/latest/getting-started.zip"
multicloud_blueprint_nodejs_master = "https://github.com/cloudify-community/blueprint-examples/blob/master/getting-started/mc-nodejs.yaml"
multicloud_blueprint_jboss_master = "https://github.com/cloudify-community/blueprint-examples/blob/master/getting-started/mc-jboss.yaml"
multicloud_blueprint_localstack_master = "https://github.com/cloudify-community/blueprint-examples/blob/master/getting-started/mc-localstack.yaml"
multicloud_blueprint_aws_cli_ref = "https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-services.html"
multicloud_blueprint_name = "getting-started"
multicloud_blueprint_nodejs_name = "mc-nodejs.yaml"
multicloud_blueprint_jboss_name = "mc-jboss.yaml"
multicloud_blueprint_localstack_name = "mc-localstack.yaml"

discovery_master = 'https://github.com/cloudify-community/blueprint-examples/tree/master/kubernetes/discovery'
discovery_zip = 'https://github.com/cloudify-community/blueprint-examples/releases/download/latest/kubernetes-discovery.zip'
discovery_existing_cluster_id = "existing-eks-cluster"
discovery_existing_cluster_yaml = 'existing-eks.yaml'
discovery_account_id = "aws-account"
discovery_account_yaml = 'aws-account.yaml'
discovery_existing_aks_cluster_id = "existing-aks-cluster"
discovery_existing_aks_cluster_yaml = 'existing-aks.yaml'
discovery_azure_account_id = "azure-account"
discovery_azure_account_yaml = 'azure-account.yaml'
discovery_existing_gke_cluster_id = "existing-gke-cluster"
discovery_existing_gke_cluster_yaml = 'existing-gke.yaml'
discovery_gcp_account_id = "gcp-account"
discovery_gcp_account_yaml = 'gcp-account.yaml'
discovery_workload_id = "kubernetes-workload"
discovery_workload_yaml = 'kubernetes-workload.yaml'

docker_install_command_prefix = "docker run --name cfy_manager_local -p 8000:8000"
version = "7.0.0"

[markup]
defaultMarkdownHandler = "goldmark"
# blackfriday was used up until Cloudify 7.0, but new Hugo versions deprecate it,
# in favour of goldmark instead. Left for reference in case of any rendering
# weirdness, feel free to remove this post-7.0.
#defaultMarkdownHandler = "blackfriday"

[markup.goldmark.renderer]
# we have a whole bunch of inline html, which goldmark considers unsafe
unsafe = true

[outputs]
home = [ "HTML", "RSS", "JSON"]

[[menu.shortcuts]]
name = "<i class='fa fa-question-circle'></i> <label>Product</label>"
url = "https://cloudify.co/product"
weight = 10

[[menu.shortcuts]]
name = "<i class='fa fa-address-card'></i> <label>About Us</label>"
url = "https://cloudify.co/about"
weight = 40

[[menu.shortcuts]]
name = "<i class='fa fa-phone-square'></i> <label>Support</label>"
url = "https://cloudify.co/support"
weight = 60

[[menu.shortcuts]]
name = "<i class='fa fa-cloud-download'></i> <label>Download</label>"
url = "https://cloudify.co/download"
weight = 70

[[menu.shortcuts]]
name = "<i class='fa fa-paper-plane'></i> <label>Feedback</label>"
url = "mailto:docs@cloudify.co?subject=Cloudify Documentation Feedback"
weight = 80
