baseURL = "/"
languageCode = "en-us"
DefaultContentLanguage = "en"
title = "Cloudify Documentation Center"
theme = "docdock"
# themesdir = "../.."
pygmentsCodeFences = true
pygmentsStyle = "monokailight"

defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
enableMissingTranslationPlaceholders = false

canonifyURLs = true
relativeURLs = true

# [Languages]
# [Languages.en]
# title = "Documentation for Hugo docDock"
# weight = 1
# languageName = "English"
# 
# [Languages.fr]
# title = "Documentation du thème docDock"
# weight = 2
# languageName = "Français"

[params]
editURL = "https://github.com/cloudify-cosmo/docs.getcloudify.org/edit/branch/content/"
showVisitedLinks = true # default is false
themeStyle = "flex" # "original" or "flex" # default "flex"
themeVariant = "" # choose theme variant "green", "gold" , "gray", "blue" (default)
ordersectionsby = "weight" # ordersectionsby = "title"
disableHomeIcon = false # default is false
disableSearch = false # default is false
disableNavChevron = false # set true to hide next/prev chevron, default is false
highlightClientSide = false # set true to use highlight.pack.js instead of the default hugo chroma highlighter
menushortcutsnewtab = false # set true to open shortcuts links to a new tab/window
enableGitInfo = true
googleAnalytics = "GTM-P8VJ87"

[markup]
defaultMarkdownHandler = "blackfriday"

[blackfriday]
hrefTargetBlank = false

[outputs]
home = [ "HTML", "RSS", "JSON"]

[[menu.shortcuts]]
name = "<i class='fa fa-question-circle'></i> <label>Product</label>"
url = "https://cloudify.co/product"
weight = 10

[[menu.shortcuts]]
name = "<i class='fa fa-address-card'></i> <label>About Us</label>"
url = "https://cloudify.co/about"
weight = 40

[[menu.shortcuts]]
name = "<i class='fa fa-phone-square'></i> <label>Support</label>"
url = "https://cloudify.co/support"
weight = 60

[[menu.shortcuts]]
name = "<i class='fa fa-cloud-download'></i> <label>Download</label>"
url = "https://cloudify.co/download"
weight = 70

[[menu.shortcuts]]
name = "<i class='fa fa-paper-plane'></i> <label>Feedback</label>"
url = "mailto:docs@cloudify.co?subject=Cloudify Documentation Feedback"
weight = 80
