version: 2
jobs:
    # The build job for staging branches that excludes Google Tag Manager
    build-staging:
        docker:
            - image: jmminy/alpine-hugo-git-bash:latest
        working_directory: ~/project
        steps:
            # Checkout the code from the branch into the working_directory
            - checkout
            # Log the current branch
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            - run:
                name: Building site
                command: hugo -v --baseURL http://stage-docs.getcloudify.org/docdock/staging/$CIRCLE_BRANCH
            - persist_to_workspace:
                root: .
                paths:
                    - public

    # The build job for master that excludes Google Tag Manager
    build-dev:
        docker:
            - image: jmminy/alpine-hugo-git-bash:latest
        working_directory: ~/project
        steps:
            # Checkout the code from the branch into the working_directory
            - checkout
            # Log the current branch
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            - run:
                name: Building site
                command: hugo -v --baseURL http://stage-docs.getcloudify.org/docdock/staging/dev
            - persist_to_workspace:
                root: .
                paths:
                    - public

    # The build job for production branches that includes Google Tag Manager
    build-prod:
        docker:
            - image: jmminy/alpine-hugo-git-bash:latest
        working_directory: ~/project
        environment:
            VERSION: ${CIRCLE_BRANCH/-baseurl/}
        steps:
            # Checkout the code from the branch into the working_directory
            - checkout
            # Log the current branch
            - run:
                name: Show current branch
                command: echo ${CIRCLE_BRANCH}
            # - run:
            #     name: Declare baseURL
            #     command: VERSION="docdock"
            - run:
                name: Show baseurl
                command: echo ${VERSION}
            - run:
                name: Building site
                command: HUGO_ENV=production hugo -v --baseURL http://stage-docs.getcloudify.org/docdock/staging/${VERSION}
            - persist_to_workspace:
                root: .
                paths:
                    - public

    # Deploy for branches other than master or -build to /staging/{branch}
    deploy-staging:
        docker:
            - image: xueshanf/awscli:latest
        working_directory: ~/project
        steps:
            - attach_workspace:
                at: ~/project
            # Set the signature version for the S3 auth
            - run:
                name: Setting Signature Version 4 for S3 Request Authentication
                command: aws configure set default.s3.signature_version s3v4
            # Deploy to the S3 bucket corresponding to the current branch
            - run:
                name: Deploy to S3
                command: aws s3 sync public s3://stage-docs.getcloudify.org/docdock/staging/${CIRCLE_BRANCH} --delete --acl public-read

    # Deploy for master to push to /staging/dev
    deploy-dev:
        docker:
            - image: xueshanf/awscli:latest
        working_directory: ~/project
        steps:
            - attach_workspace:
                at: ~/project
            # Set the signature version for the S3 auth
            - run:
                name: Setting Signature Version 4 for S3 Request Authentication
                command: aws configure set default.s3.signature_version s3v4
            # Deploy to the S3 bucket corresponding to the current branch
            - run:
                name: Deploy to S3
                command: aws s3 sync public s3://stage-docs.getcloudify.org/docdock/staging/dev --delete --acl public-read

    # Deploy for -build to push to /{version} without -build
    deploy-prod:
        docker:
            - image: xueshanf/awscli:latest
        working_directory: ~/project
        steps:
            - attach_workspace:
                at: ~/project
            # Set the signature version for the S3 auth
            - run:
                name: Setting Signature Version 4 for S3 Request Authentication
                command: aws configure set default.s3.signature_version s3v4
            # Deploy to the S3 bucket corresponding to the current branch
            - run:
                name: Deploy to S3
                command: aws s3 sync public s3://stage-docs.getcloudify.org/docdock/${VERSION} --delete --acl public-read

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-staging:
          filters:
            branches:
              ignore:
                - master
                - /.*-baseurl/
      - build-dev:
          filters:
            branches:
              only: master
      - build-prod:
          filters:
            branches:
              only: /.*-baseurl/
    #   - deploy-staging:
    #       requires:
    #         - build-staging
    #       filters:
    #         branches:
    #           ignore:
    #             - master
    #             - /.*-baseurl/
    #   - deploy-dev:
    #       requires:
    #         - build-dev
    #       filters:
    #         branches:
    #           only: master
    #   - deploy-prod:
    #       requires:
    #         - build-prod
    #       filters:
    #         branches:
    #           only: /.*-baseurl/