<p>
    <!-- "window.location = " without () -->
    <select onchange="
        var parts = window.location.href.split('/');
        if (parts.length > 0) {
            $('#myselect').val(parts[parts.length - 1].split('?')[0]);
        }
    ">
        <option value="4.3.0-versions">4.3.0-versions</option>
        <option value="community-versions">community-versions</option>
        <option disabled value="Older versions">-------</option>
        <option value="4.2.0-versions">4.2.0-versions</option>
        <!-- <option value="4.1.0">4.1.0</option>
        <option value="4.0.0">4.0.0</option>
        <option value="3.4.2">3.4.2</option> -->
    </select>
</p>