<p>
    <select onchange="
        var newVersion = this.options[this.selectedIndex].value;
        window.location = '/' + newVersion + '{{.Page.RelPermalink}}';
    ">
        <option selected value="latest">7.0 (Latest)</option>
        <option value="6.4.0">6.4.0</option>
        <option value="6.3.0">6.3.0</option>
        <option value="6.2.0">6.2.0</option>
        <option value="6.1.0">6.1.0</option>
        <option value="6.0.0">6.0.0</option>
        <option value="5.2">5.2</option>
        <option value="5.1">5.1</option>
        <option value="5.0.5">5.0.5</option>
        <option value="4.6">4.6</option>
        <option value="4.4.0">4.4.0</option>
    </select>
</p>
